body {
  padding-top: 50px;
  background-image:url(lilacs.png)
}

.navbar {
  margin-bottom: 0;
}

.row {
  background-color: white;
}

.heart {
    color: red;
}

.carousel-inner > .item > img { margin: 0 auto;

}

.butts {
    color: white;
}

#home h1, h2 {
  font-family: 'Miss Fajardose', cursive;
  font-weight: bold;
}

#home h1 {
    font-size: 64px;
}

#home h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

#home h3, .text-muted, .carousel-indicators {
    margin-bottom: 0px;
}

.tab-pane {
  padding: 0 20px 20px 20px;
}

.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

.map-container {
  padding-bottom: 75%;
}

.doc-container {
  padding-bottom: 100%;
}

.video-container {
  padding-bottom: 56.25%;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
